{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<page class='page'>

  <header class='header'>
    <div class='header__top'>
      <div class='header__list'>
        <a class='header__link' href='#'>
          Home
        </a>
        <a class='header__link' href='#'>
          About
        </a>
        <a class='header__link' href='#'>
          Contact
        </a>
      </div>

      <button
        class='header__button header__button--open'
      ></button>
    </div>

    <div class='header__wrapper'>
      <div class='header__bottom'>
        <div class='header__list header__list--vertical'>
          <a class='header__link' href='#'>
            Service
          </a>
          <a class='header__link' href='#'>
            Privacy
          </a>
          <a class='header__link' href='#'>
            Clients
          </a>
        </div>
      </div>
    </div>
  </header>

  <main class='slider'>
    {{! <div class='slider__content'>
      <img
        class='slider__image'
        src='https://picsum.photos/600/400'
        alt='Picture'
      />
      <img
        class='slider__image'
        src='https://picsum.photos/600/400'
        alt='Picture'
      />
      <img
        class='slider__image'
        src='https://picsum.photos/600/400'
        alt='Picture'
      />
    </div> }}

    <div class='slider__content'>
      <img
        class='slider__image'
        src='/img/1.jpg'
        alt='Picture'
      />
      <img
        class='slider__image'
        src='/img/2.jpg'
        alt='Picture'
      />
      <img
        class='slider__image'
        src='/img/3.jpg'
        alt='Picture'
      />
    </div>

    <button
      class='slider__button slider__button--left'
    ></button>
    <button
      class='slider__button slider__button--right'
    ></button>

  </main>

</page>

{{!
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
}}